body {
    /* width: 1200px; */
    /* border: 1px solid gray; */
    margin: auto;
    background-color: rgb(241, 234, 234);
}

li {
    list-style: none;
}

nav {
    background-color: aqua;

}

.menu {
    font-size: 20px;
}

.menu:hover {
    color: white;
    cursor: pointer;
}

.service-container {
    width: 1200px;
    margin: auto;
    margin-top: 50px;

}

.title {
    font-size: 44px;
    color: aqua;
    text-align: center;

}

.doctors-container {

    margin-top: 50px;
    padding: 30px;
}

.doc-card {
    width: 300px;

    height: 360px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.doc-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.review-card {
    width: 250px;
    height: 300px;
    box-shadow: 4px 4px 8px gray;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.review-card img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}